<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.DayCareGame">

        <!-- Single-Activity host. Portrait + fullscreen are enforced here AND in code
            (DayCareGameActivity.enterImmersiveMode()) so the game stays locked even on
            devices that ignore one of the two. -->
        <activity
            android:name=".DayCareGameActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:resizeableActivity="false"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|uiMode"
            android:theme="@style/Theme.DayCareGame.Fullscreen"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
